    <div class="page">
        <div class="articles">
            <div class="article articles__item">
                <a class="article__title" href="#">
                    Perfect Logic
                </a>
                <div class="article__description" >
                    All you want your website to do.
                </div>
                <a class="article__image-wrap" href="#">
                    <div class="article__image-shadow-top"></div>


                    <img src="/{{ ASSETS }}/img/image-1.jpg" />
                    <div class="article__image-shadow-bottom"></div>


                </a>
                <div class="article__body">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                </div>
                <a class="article__learn-more" href="#">
                    Learn More
                </a>
            </div>
            <div class="article articles__item odd">
                <a class="article__title" href="#">
                    Complete Solution
                </a>
                <div class="article__description" >
                    A tool anything and everything you can think
                </div>
                <a class="article__image-wrap" href="#">
                    <div class="article__image-shadow-top"></div>


                    <img src="/{{ ASSETS }}/img/image-2.jpg" />
                    <div class="article__image-shadow-bottom"></div>


                </a>
                <div class="article__body">
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciun tdolore magnam aliquam quaerat voluptatem.                    </div>
                <a class="article__learn-more" href="#">
                    Learn More
                </a>
            </div>
            <div class="article articles__item">
                <a class="article__title" href="#">
                    Uber Culture
                </a>
                <div class="article__description" >
                    Fresh. Modern and ready for future
                </div>
                <a class="article__image-wrap" href="#">
                    <div class="article__image-shadow-top"></div>


                    <img src="/{{ ASSETS }}/img/image-3.jpg" />
                    <div class="article__image-shadow-bottom"></div>


                </a>
                <div class="article__body">
                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.                    </div>
                <a class="article__learn-more" href="#">
                    Learn More
                </a>
            </div>

        </div>

    </div>

