<div class="footer-wrapper">
  <div class="footer">
    <div class="footer__powered-by">
      Site Powered by Drupal. Developed by Optimus Prime.
    </div>
    <div class="footer__menu">
      <ul>
        <li><a href="#" title="Home">Home</a></li>
        <li><a href="#" title="About">About</a></li>
        <li><a href="#" title="Products">Products</a></li>
        <li><a href="#" title="Services">Services</a></li>
        <li><a href="#" title="Contact">Contact</a></li>
      </ul>
    </div>
    <div class="footer__privacy">
      <ul>
        <li><a href="#" title="Privacy Policy">Privacy Policy</a></li>
        <li><a href="#" title="Terms of use">Terms of use</a></li>
      </ul>
    </div>
    <div class="footer__copyright">Copyright 2018. Studio Optimus Prime. All Rights Reserved.</div>
  </div>
</div>
