<div class="header">
  <a class="logo" href="/">
    <img src="/{{ ASSETS }}/img/polo360.png" alt="Polo360"/>
  </a>
  <div class="block-menu-from-bd">
    <ul id="main-menu">
      <li class="main-menu__item">
        <a href="#">home</a>
        <span>Back to home</span></li>
      <li class="main-menu__item">
        <a href="#">products</a>
        <span>What we have for you</span></li>
      <li class="main-menu__item">
        <a href="#">services</a>
        <span>Things we do</span></li>
      <li class="main-menu__item">
        <a href="#">blog</a>
        <span>Follow our updates</span></li>
      <li class="main-menu__item">
        <a href="#">contact</a>
        <span>Ways to reach us</span></li>
    </ul>
  </div>
</div>
